/* You can add global styles to this file, and also import other style files */
body {
  background-color: #3e3e3e;
}

h1, h2, h3, h4, p, span {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
